<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617878207037-en3fdtrbbnpanbi92hil05nf4qjjva27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617878207037-en3fdtrbbnpanbi92hil05nf4qjjva27</string>
	<key>API_KEY</key>
	<string>AIzaSyApASpui92G6PRa5TOSqnssJunPD3ZEufE</string>
	<key>GCM_SENDER_ID</key>
	<string>617878207037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omercelikel.PushNotificationsDemo</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationdemo-a7a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationdemo-a7a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617878207037:ios:d68a3f682b2ed80ea64854</string>
</dict>
</plist>